:local(.locationForm) {
  input[type=text] {
    width: 100%;
  }
  button {
    width: 47%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    &:first-child {
      margin-right: 6%;
    }
  }

  .error {
    border-color: red;

    &+span {
      color: red;
    }
  }
}
